.App {
  color: red;

}
body{
  background-color:antiquewhite;

}
.div{
  color: rgb(65, 56, 56);
  border-radius: 10PX; /* me queda hacerle la sombra */
  width: 500px;
  height: 150px;
  margin-top: 25px;
  margin-left: 100px;
  padding-left: 10px;
}
.icono{
  padding-left: 20px;
  align-items:flex-end;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
